foursquare==1!2016.9.12
geopy==1.11.0
googlemaps==2.4.6
matplotlib==2.0.1
networkx==1.11
numpy==1.21.0
pyquery==1.2.17
requests>=2.20.0
Shapely==1.5.17.post1
smopy==0.0.6
beautifulsoup4==4.6.0
pyshp==1.2.11
twitter==1.17.1
